@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #6c0e1a;
    border-radius: 16px;
    /* border: 4px solid #fff; */
  }

  .custom-scroll::-webkit-scrollbar-button {
    display: none;
  }

  .triangle-badge {
    clip-path: polygon(55% 0%, 0 0, 0 45%);
  }
}
