@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: #fff;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #6c0e1a;
    border-radius: 16px;
    /* border: 4px solid #fff; */
  }

  .custom-scroll::-webkit-scrollbar-button {
    display: none;
  }

  .triangle-badge {
    clip-path: polygon(55% 0%, 0 0, 0 45%);
  }

  /* Toast */

  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.3s ease-in-out;
  }

  .toast.show {
    opacity: 1;
    bottom: 35px;
  }

  .toast.hide {
    opacity: 0;
    bottom: 20px;
  }

  .toast.success {
    background-color: #4caf50;
  }

  .toast.error {
    background-color: #f44336;
  }
}
